.App {
  margin: auto;
  margin-top: 100px;
  width: 400px;
}

.console {
  padding: 20px;
  margin-bottom: 40px;
  text-align: left;
}
.console-term {
  display: inline-block;
}
.console-colon {
  display: inline-block;
}
.console-type {
  display: inline-block;
}

.environment {
  text-align: left;
}

.context {
  padding: 20px;
  padding-bottom: 0px;
}

.hole {
  display: inline-block;
  border: 4px solid black;
}

.focussed {
  border: 4px solid red;
}

.goal {
  padding: 20px;
  padding-top: 0px;
}

.palette {
  padding: 20px;
}
.palette-item {
  margin-bottom: 10px;
  padding: 5px;
  display: inline-block;
  background-color: rgb(184, 184, 184);
}
